.header-wrap{display: flex; background-color: #0c2a53; align-items: center; color: #b8b8b8; box-sizing: border-box; padding: 0 40px;}
.header-wrap h1{margin: 0; padding: 0; font-size: 22px; width: 120px;}
ul{list-style: none; margin: 0; padding: 0; display: flex; flex-direction: row; height: 60px;}
ul > li{display: block; padding: 0 20px; display: flex; align-items: center; border-bottom: 2px solid transparent;}
ul > li:active,ul > li.active{border-bottom: 2px solid #f80606;}
ul > li a{color: #edf5fc; text-decoration: none; font-size: 16px;}
ul > li a:hover{color: #ffffff; text-decoration: none;}