.movie-details{
    display: flex;
    flex-direction: column;
}
.movie-details .col-a{
    width: 100%;
    background-image: linear-gradient(to right, rgb(154, 158, 102), rgb(182, 187, 111));
    box-sizing: border-box;
    padding:22px;
    min-height: 200px;
    display: flex;
}

.movie-details .col-b{
    width: calc(100%);
    box-sizing: border-box;
    padding:20px 23px;
    background-color: #ffffff;
}
.banner .poster{
    width: 200px;
    text-align: left;
}
.banner .poster img{display: inline-block; border: 5px solid #ffffff;}
.banner .details{
    color: #111111;
}
.movie-summary{
    list-style: none;
    margin: 0;
    padding: 0;
}
.movie-summary li{
    display: flex;
    padding: 5px 0;
    font-size: 16px;
}
.movie-summary li label{
    font-weight: bolder;
    padding-right: 10px;
    color: #414141;
}

/* Responsive CSS */
@media only screen and (max-width: 900px) {
    .main-wrap{
       margin: 20px 10px !important;
    }
    .movie-details{flex-direction: column;}
    .movie-details .col-a{
        width: 100%;
    }
    
    .movie-details .col-b{
        width: 100%;
        padding:20px 20px;
        margin: 0;
    }
  }