.mat-tree-node button{
    color: transparent;
    overflow: hidden;
    border: 1px solid #999999;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.mat-tree-node button .mat-icon{display: none;}
.mat-tree{background-color: transparent;}
.mainBody{
    padding: 20px 30px;
    background-color: #ffffff;
}
