.movie-list{
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.movie-list > li{
    box-sizing: border-box;
    margin: 0 30px 30px 0px;
    padding:10px;
    box-shadow: 0 1px 4px #999999;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: 321px;
}
.poster{height: 450px; overflow: hidden; background-color: #efefef; cursor: pointer;}
.poster img{width: 100%;}
.details{padding: 5px;}
.details p{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 0 0 0;
}
.details p strong{width: 55px;text-align: left;font-weight: 500;}
.details p label{width: calc(100% - 55px);}

@media only screen and (max-width: 900px) {
    .main-wrap{
        margin: 20px 10px !important;
     }
    .movie-list > li{
        width: 230px;
    }
    .movie-list > li .poster{
        height: 280px;
    }
}
@media only screen and (max-width: 600px) {
    .main-wrap{
        margin: 20px 10px !important;
     }
    .movie-list > li{
        width: 250px;
        margin: 5px;
    }
    .movie-list > li .poster{
        height: 280px;
    }
}
@media only screen and (max-width: 599px) {
    .main-wrap{
        margin: 20px 10px !important;
     }
    .movie-list > li{
        width: 400px;
        margin: 5px;
    }
    .movie-list > li .poster{
        height: 480px;
    }
}