<div class="main-wrap">
    <h3>Movies</h3>
    <span class="loading">{{userMessage}}</span>
    <div class="mainBody">
        <ul class="movie-list">
            <li *ngFor="let movie of moviesList; let i = index">
                <div class="poster" (click)="showMovieDetails(i, movie.Title)">
                    <img title="{{movie.Title}}" alt="{{movie.Title}}" src="{{movie.Poster}}" height="450px"/>
                </div>
                <div class="details">
                    <p>
                        <strong>Title :</strong>
                        <label>
                            <a class="link" (click)="showMovieDetails(i, movie.Title)">{{movie.Title}}</a>
                        </label>
                    </p>
                    <p>
                        <strong>Year :</strong>
                        <label>{{movie.Year}}</label>
                    </p>
                    <p>
                        <strong>Cast :</strong>
                        <label>{{ movie.Actors }}</label>
                    </p>
                    <p>
                        <strong>Rating :</strong>
                        <label>{{ movie.imdbRating }}</label>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>